.Content{
    width: 100%;
    height: auto;
    background-color: #cfcb3d;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #CCC;
    //margin: auto;
    padding: 10px 0;
}